* {
  font-family: "Barlow", sans-serif !important;
}

body {
  padding: 0;
  max-width: 1600px;
  margin: 0px auto !important;
  background-color: #fdfafa !important;
}

.vertical-timeline::before {
  background: #2bd1b5 !important;
}

.vertical-timeline-element-content {
  border-top: 5px solid darkcyan;
}
