@import url("~semantic-ui-css/semantic.min.css");

* {
  font-family: "Barlow", sans-serif !important;
}

body {
  margin: 0px;
  background-color: #fdfafa !important;
}

.vertical-timeline::before {
  background: #2bd1b5 !important;
}

.vertical-timeline-element-content {
  border-top: 5px solid darkcyan;
}
